In [16]:
#Question 1
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# 1.1  Sort the list and find the min and max age
Sorted_Ages_List = sorted(ages) #sorted() is used to sort the elements in the List
print("Sorted Ages=",Sorted_Ages_List)
print("Min Age=",min(Sorted_Ages_List)) #min()is used to find the minimum element in th List.
print("Max Age=",max(Sorted_Ages_List)) #max() is used to finid the maximum element in the List.

#1.2 Add the min age and the max age again to the list
Sorted_Ages_List.append(min(Sorted_Ages_List)) #append() is used to add the elements in the List.
Sorted_Ages_List.append(max(Sorted_Ages_List)) #append() is used to add the elements in the List.
print("After appending the elements to the List= ",Sorted_Ages_List)

#1.3 Find the median age (one middle item or two middle items divided by two)
print("Median of Ages=",statistics.median(Sorted_Ages_List))#By importing statistics library we can use median() to calculate median

#1.4 Find the average age (sum of all items divided by their number)
length=len(Sorted_Ages_List) #len() it returns the length of the List.
Sum = 0
for i in range (0,length,1): # To get the sum of the elements in the List.
  Sum = Sum + Sorted_Ages_List[i]
print("Average =",Sum/length) #To get the average we do sum of elements is divided by the length to get the Average.

#1.5 Find the range of the ages (max minus min)
print("Range=",max(Sorted_Ages_List)-min(Sorted_Ages_List)) #By finding difference between minimum value and maximum value we get the Range.

Sorted Ages= [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min Age= 19
Max Age= 26
After appending the elements to the List=  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median of Ages= 24.0
Average = 22.75
Range= 7

In [22]:
#Question 2

#2.1 Create an empty dictionary called dog
Dog={} #{}->By using this symbol we can create empty dictionary

#2.2 Add name, color, breed, legs, age to the dog dictionary
Dog = {"name":"Cooper", "color":"Brown", "breed":"Husky", "legs":4, "age":3}#Assigning the values in the Dictionary.

#2.3 Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
student = {
    "First_Name":"Leela Sekhar Chowdary",
    "Last_Name":"Mannava", 
    "Gender":"Male", 
    "Age":23,
    "Marital Status":"Single",
    "Skills":['c','java'], 
    "Country":"UNITED STATES OF AMERICA", 
    "City":"KANSAS", 
    "Address":"OVERLAND PARK"
}

#2.4 Get the length of the student dictionary
print("Length of Student Dictionary= ",len(student))#len() it returns the length of the Dictionary.

#2.5 Get the value of skills and check the data type, it should be a list
print("\nThe Skills are:",student.get('Skills'))#get() is used the get the values from the dictionary.
print("\nType :",type(student['Skills']))#type() returns the data type of the dictionary elements.

#2.6 Modify the skills values by adding one or two skills
student['Skills'].append("HTML")#to add more values to the key which is type list so we use append()
print("\nBy  adding an extra skill:",student.get('Skills'))

#2.7 Get the dictionary keys as a list
print("\nThe keys in student dictionary :",student.keys())#key() is used to get keys of dictionary.

#2.8 Get the dictionary values as a list
print("\nThe keys in student dictionary :",student.values())#values() is used to get values of dictionary.

Length of Student Dictionary=  9

The Skills are: ['c', 'java']

Type : <class 'list'>

By  adding an extra skill: ['c', 'java', 'HTML']

The keys in student dictionary : dict_keys(['First_Name', 'Last_Name', 'Gender', 'Age', 'Marital Status', 'Skills', 'Country', 'City', 'Address'])

The keys in student dictionary : dict_values(['Leela Sekhar Chowdary', 'Mannava', 'Male', 23, 'Single', ['c', 'java', 'HTML'], 'UNITED STATES OF AMERICA', 'KANSAS', 'OVERLAND PARK'])

In [25]:
#Question 3
#3.1 Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers = ("Ravi", "Hari", "Likith")
sisters = ("Sravya","Nikitha")

#3.2 Join brothers and sisters tuples and assign it to siblings
siblings = brothers+sisters #By using "+" we can concatinate two tuples
print("\nAfter adding brothers and sisters: ",siblings)

#3.3 How many siblings do you have?
print("\nThe length of siblings :",len(siblings))

#3.4 Modify the siblings tuple and add the name of your father and mother and assign it to family_members
siblings = siblings + ("Venkatesh","Annapurna")
family_members = siblings
print("\nAfter adding father and mother name :",family_members,"\n")

After adding brothers and sisters:  ('Ravi', 'Hari', 'Likith', 'Sravya', 'Nikitha')

The length of siblings : 5

After adding father and mother name : ('Ravi', 'Hari', 'Likith', 'Sravya', 'Nikitha', 'Venkatesh', 'Annapurna')

In [36]:
#Question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#4.1 Find the length of the set it_companies
print("length of the set it_companies= ",len(it_companies))

#4.2 Add 'Twitter' to it_companies
it_companies.add('Twitter')#add() is used to insert the element
print("it_companies after adding Twitter",it_companies)

#4.3Insert multiple IT companies at once to the set it_companies
new_companies = ['Infosys','Capgemini','DXC']
it_companies.update(new_companies)#to add the list of elements to the set we use update()
print("\nAter adding multiple companies, it_companies=",it_companies)

#4.4 Remove one of the companies from the set it_companies
it_companies.remove('DXC')
print("\nAter deleting a company DXC = ",it_companies)

#4.5 What is the difference between remove and discard
'''
The difference between remove and discard is if we want to delete an element in the set that is not
present in the set by using remove then gives an error whereas discard
doesn't show any error it just keeps the set un disturbed
'''
it_companies.discard('Goldman Sachs')
print("\ndicard usage",it_companies)

#4.5 Join A and B
C=B.union(A)#union() is used to merge to sets
print("\nAfter joining A and B, the resultant set= ",C)

#4.6 Find A intersection B
print("\nIntersection set =",A.intersection(B))#intersection() is use to find the intersection points in the set

#4.7 Is A subset of B
print("\nA is subset of B (True/False) :",A.issubset(B))#issubset() is used to find the subset or not

#4.8 Are A and B disjoint sets
print("\nAre A and B disjoint sets (True/False) :",A.isdisjoint(B))#isdisjoint() is used to find the disjointset or not

#4.9 Join A with B and B with A
print("\nJoining A with B:",A.union(B))
print("Joining B with A:",B.union(A))

#4.10 What is the symmetric difference between A and B
print("\nThe symmentric difference is : ",A.symmetric_difference(B))

#4.11 Delete the sets completely
del A
del B

#4.12 Convert the ages to a set and compare the length of the list and the set.
Set = set(age)
print("\nConverted to set",Set)
print("\nThe length of list is :",len(age),"and set is :",len(Set))

length of the set it_companies=  7
it_companies after adding Twitter {'IBM', 'Microsoft', 'Apple', 'Facebook', 'Amazon', 'Oracle', 'Twitter', 'Google'}

Ater adding multiple companies, it_companies= {'DXC', 'IBM', 'Microsoft', 'Apple', 'Facebook', 'Amazon', 'Capgemini', 'Infosys', 'Oracle', 'Twitter', 'Google'}

Ater deleting a company DXC =  {'IBM', 'Microsoft', 'Apple', 'Facebook', 'Amazon', 'Capgemini', 'Infosys', 'Oracle', 'Twitter', 'Google'}

dicard usage {'IBM', 'Microsoft', 'Apple', 'Facebook', 'Amazon', 'Capgemini', 'Infosys', 'Oracle', 'Twitter', 'Google'}

After joining A and B, the resultant set=  {19, 20, 22, 24, 25, 26, 27, 28}

Intersection set = {19, 20, 22, 24, 25, 26}

A is subset of B (True/False) : True

Are A and B disjoint sets (True/False) : False

Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}

The symmentric difference is :  {27, 28}

Converted to set {19, 22, 24, 25, 26}

The length of list is : 8 and set is : 5

In [38]:
#Question 5
import math
constant = math.pi
radius = 30

#5.1 Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
_area_of_circle_ = constant * radius * radius
print("Area :",_area_of_circle_)
#5.2 Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
_circum_of_circle_= 2 * constant * radius
print("Circumference :",_circum_of_circle_)

#5.3 Take radius as user input and calculate the area.
new_radius = float(input("Enter the radius value: "))
Area = constant * new_radius * new_radius

print("for given radius = ",new_radius," Area =",Area)

Area : 2827.4333882308138
Circumference : 188.49555921538757
Enter the radius value: 10
for given radius =  10.0  Area = 314.1592653589793

In [39]:
#Question 6
#How many unique words have been used in the sentence? Use the split methods and set to get the unique words.
sentence = "I am a teacher and I love to inspire and teach people"

#splitting the string for getting the individual elements
Split = sentence.split(" ")
Sp_set = set(Split)
print("Set: ",Sp_set)
print("Number of unique words: ",len(Sp_set))

Set:  {'a', 'teach', 'am', 'inspire', 'and', 'love', 'I', 'to', 'people', 'teacher'}
Number of unique words:  10

In [42]:
#Question 7
print("Name\t\tAge\tCountry\t\tCity\nAsabeneh\t250\tFinland\t\tHelsinki")

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [44]:
#Question 8
radius = 10
area = 3.14 * radius ** 2
formatted_area = 'The area of circle with radius {} is {} meters square.'.format(radius, area)  #format() insert them inside the string's placeholder.  
print(formatted_area)

The area of circle with radius 10 is 314.0 meters square.

In [45]:
#Question 9
# Dynamically taking the input
n = int(input('Enter the length:'))

# creating two lists one for lbs and other for kgs
list = []
con_list =[]
for i in range (0,n,1) :
    p =  float(input('Enter the value:'))
    list.append(p)

for i in range (0,n,1):
      q = list[i] * 0.453592
      con_list.append(round(q,2))
print("\nConverted to kgs: ",con_list)

Enter the length:4
Enter the value:56
Enter the value:756
Enter the value:756
Enter the value:679

Converted to kgs:  [25.4, 342.92, 342.92, 307.99]